.section-logo {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-logo {
  position: static;
  width: 65vw;
}

.link {
  font-family: 'Authenticsans condensed 90', sans-serif;
  color: #000;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  text-decoration: underline;
}

.section-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading {
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Authenticsans condensed 90', sans-serif;
  font-size: 46px;
  line-height: 120%;
  font-weight: 400;
  text-align: center;
}

.section-center {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -2;
  margin: auto;
  text-align: center;
}

.section-description {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-logo-interaction {
  position: fixed;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .section-logo {
    position: absolute;
  }

  .div-logo {
    position: static;
  }
}

@media screen and (max-width: 767px) {
  .section-logo {
    position: static;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .div-logo {
    width: 90vw;
  }

  .link {
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: underline;
  }

  .section-links {
    position: static;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .body {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .heading {
    max-width: 500px;
    font-size: 30px;
  }

  .section-description {
    position: static;
  }

  .section-logo-interaction {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .section-logo {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 0px;
  }

  .link {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  .heading {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
  }

  .section-description {
    margin-top: 15px;
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@font-face {
  font-family: 'Authenticsans condensed 90';
  src: url('../fonts/AUTHENTICSans-Condensed-90.woff2') format('woff2'), url('../fonts/AUTHENTICSans-Condensed-90.woff') format('woff'), url('../fonts/AUTHENTICSans-Condensed-90.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}